<!DOCTYPE html>
<html ng-app="todoApp">
  <head lang="en">
    <meta charset="UTF-8">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script type="text/javascript" src="app/js/controllers/main.js"></script>
    <link rel="stylesheet" href="app/css/normalize.css"></script>
    <link rel="stylesheet" href="app/css/todo.css"></script>
    <title>todos</title>

  </head>
  <body>

      <div ng-controller="TodoController">
        <h1 class="title">todos</h1>

        <div class="wrapper">
          <ul class="todo-list">

            <!-- mark all todos complete -->
            <div class="top-shadow">
              <button class="down-arrow">&caron;</button>
              <!-- ADD -->
              <form ng-submit="addTodo()" class="form-horizontal">
                <input class="new-todo" type="text" ng-model="todo" placeholder="What needs to be done?" required="string"/>
              </form>
            </div>

            <!-- EDIT & MARK COMPLETE -->
            <li class="todo-li" ng-repeat="todo in todos" ng-dblclick="editTodo(todo)">
              <input type="checkbox" class="hidden-checkbox" value="none" ng-model="todo.is_completed" ng-hide="todo.editing"/>
              <svg class="round-checkbox" ng-hide="todo.editing || todo.is_completed"></svg>
              <svg class="selected-checkbox" ng-show="todo.is_completed" ng-hide="todo.editing || !todo.is_completed"></svg>
              <span class="is_completed-{{todo.is_completed}} todo-task" ng-hide="todo.editing">{{todo.title}}</span>

              <form ng-submit="updateTodo(todo)" ng-show="todo.editing">
                <input class="" id="toggle-edit" type="text" ng-model="todo.title" required="string"/>
              </form>
            </li>

          </ul>

          <div class="sort-todos">
            <!-- REMOVE COMPLETED  -->
              <span class="total-todos">{{getTotalTodos()}} items left</span>
              <span class="sort-nav">
                <button class="all-todos" ng-click="showAllTodos()">All</button>
                <button class="active-todos" ng-click="showActive()">Active</button>
                <button class="completed-todos" ng-click="showCompleted()">Completed</button>
              </span>


              <button class="clear-completed" ng-click="clearCompleted()" ng-hide="todo.is_completed-false">Clear completed</button>


          </div>

        </div>
    </div>
  </body>
</html>
