<!DOCTYPE html>
<html ng-app="todoApp">
  <head lang="en">
    <meta charset="UTF-8">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script type="text/javascript" src="app/js/controllers/main.js"></script>
    <link rel="stylesheet" href="app/css/normalize.css"></script>
    <link rel="stylesheet" href="app/css/todo.css"></script>
    <title>todos</title>

  </head>
  <body>

      <div ng-controller="TodoController">
        <h1 class="title">todos</h1>

        <div class="wrapper">
          <ul class="todo-list">

            <!-- mark all todos complete -->
            <div class="top-shadow">
              <button class="down-arrow" ng-click="markAllTodos(todo)">&caron;</button>
              <!-- to darken when all completed
               <button class="down-arrow-all-completed" ng-click="markAllTodos(todo)">&caron;</button> -->

              <!-- ADD -->
              <form ng-submit="addTodo()">
                <input class="new-todo" type="text" ng-model="todo" placeholder="What needs to be done?" required="string"/>
              </form>
            </div>

            <!-- EDIT & MARK COMPLETE -->
              <li class="todo-li" ng-repeat="todo in todos" ng-init="isDeleteShown = false" ng-mouseover="isDeleteShown = true" ng-mouseleave="isDeleteShown = false">
                <svg class="round-checkbox" ng-hide="todo.editing || todo.is_completed" ng-click="markCompleted(todo)"></svg>
                <svg class="selected-checkbox" ng-show="todo.is_completed" ng-hide="todo.editing || !todo.is_completed" ng-click="markIncomplete(todo)"></svg>
                <div class="is_completed-{{todo.is_completed}} todo-task" ng-dblclick="editTodo(todo)" ng-hide="todo.editing">{{todo.title}}</div>
                <button class="delete-todo" ng-show="isDeleteShown && !todo.editing" ng-click="deleteTodo(todo)"></button>

                <form ng-submit="updateTodo(todo)" ng-show="todo.editing">
                  <input class="" id="toggle-edit" type="text" ng-model="todo.title" autofocus required="string"/>
                </form>

              </li>

          </ul>

          <div class="sort-todos">
            <!-- REMOVE COMPLETED  -->
            <span class="total-todos"
            ng-pluralize count="getTotalIncompleteTodos()"
            when="{'one': '{{getTotalIncompleteTodos()}} item left',
            'other': '{{getTotalIncompleteTodos()}} items left'}">
            </span>
            <ul class="sort-nav">
              <li class="sorter" ng-click="showAllTodos(); selectSort('All')" ng-class="{selected: selectedFilter == 'All'}">All</li>
              <li class="sorter" ng-click="showActive(); selectSort('Active')" ng-class="{selected: selectedFilter == 'Active'}">Active</li>
              <li class="sorter" ng-click="showCompleted(); selectSort('Completed')" ng-class="{selected: selectedFilter == 'Completed'}">Completed</li>
            </ul>

            <button class="clear-completed" ng-show="todo.is_completed" ng-click="clearCompleted()">Clear completed</button>

          </div>

        </div>
    </div>
  </body>
</html>
