<!DOCTYPE html>
<html ng-app="todoApp">
  <head lang="en">
    <meta charset="UTF-8">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script type="text/javascript" src="app/js/app.js"></script>
    <script type="text/javascript" src="app/js/controllers/main.js"></script>
    <script type="text/javascript" src="app/js/services/todos.js"></script>

    <link rel="stylesheet" href="app/css/normalize.css"></script>
    <link rel="stylesheet" href="app/css/todo.css"></script>
    <title>todos</title>

  </head>
  <body>

      <div ng-controller="TodosController">
        <h1 class="title">todos</h1>

        <div class="todo-list">

          <!-- mark all todos complete -->
          <div class="todo-list__new">
            <button class="down-arrow" ng-click="markAllTodos(todo)" ng-class="{darken: getTotalIncompleteTodos() === 0}">&caron;</button>

            <!-- ADD -->
            <form ng-submit="addTodo()">
              <input class="new-todo" type="text" ng-model="todo" placeholder="What needs to be done?" required="string"/>
            </form>
          </div>

          <ul>

            <!-- EDIT & MARK COMPLETE -->
            <li class="todo-list__task" ng-repeat="todo in getTodos()" ng-init="isDeleteShown = false" ng-mouseover="isDeleteShown = true" ng-mouseleave="isDeleteShown = false">
              <svg class="round-checkbox" ng-hide="todo.editing || todo.is_completed" ng-click="markCompleted(todo)"></svg>
              <svg class="selected-checkbox" ng-show="todo.is_completed" ng-hide="todo.editing || !todo.is_completed" ng-click="markIncomplete(todo)"></svg>
              <div class="is_completed-{{todo.is_completed}} todo-list__task-title" ng-dblclick="editTodo(todo)" ng-hide="todo.editing">{{todo.title}}</div>
              <form ng-submit="updateTodo(todo)" ng-show="todo.editing">
                <input class="todo-list__task-edit" type="text" ng-model="todo.title" required="string"/>
              </form>
              <button class="todo-list__task-delete" ng-show="isDeleteShown && !todo.editing" ng-click="deleteTodo(todo)"></button>
            </li>
          </ul>

          <div class="footer clearfix">
            <!-- REMOVE COMPLETED  -->
            <span class="todo-list__total"
            ng-pluralize count="getTotalIncompleteTodos()"
            when="{'one': '{{getTotalIncompleteTodos()}} item left',
            'other': '{{getTotalIncompleteTodos()}} items left'}">
            </span>
            <div class="todo-list__filters">
              <button class="button" ng-click="selectSort('All')" ng-class="{selected: selectedFilter == 'All'}">All</button>
              <button class="button" ng-click="selectSort('Active')" ng-class="{selected: selectedFilter == 'Active'}">Active</button>
              <button class="button" ng-click="selectSort('Completed')" ng-class="{selected: selectedFilter == 'Completed'}">Completed</button>
            </div>

            <button class="todo-list__clear-completed" ng-click="clearCompleted()" ng-show="getTotalCompleteTodos() > 0">Clear completed</button>

          </div>

        </div>
    </div>
  </body>
</html>
