* {
  box-sizing: border-box;
}

html {font-size: 1em;}

body {
  background: #F5F5F5;
  font: 1em 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: #4D4D4D;
  line-height: 1.45;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.2em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 6em;
}

h2 {font-size: 4.236em;}

h3 {font-size: 2.618em;}

h4 {font-size: 1.618em;}

small, .font_small {font-size: 0.618em;}

button {
  background-color: transparent;
  border: none;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
}

/* ------- header -------- */

.title {
  color: #EBD7D7;
  font-weight: 100;
  text-align: center;
  margin-top: 0.1em;
}

/* ------- add a todo -------- */

.todo-list {
  width: 60%;
  margin: -1em auto 7em;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
              0 25px 50px 0 rgba(0, 0, 0, 0.1);
  max-width: 600px;
}

.down-arrow {
  font: 3em BlinkMacSystemFont;
  width: 7.5%;
  float: left;
  height: 0.9em;
  border: 0;
  color: #E6E6E6;
}

/*darken when all are marked complete */
.darken {
  color: #737373;
}

.todo-list__new {
  padding: 1em 0;
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.05);
}

.new-todo {
  border: 0;
  font-weight: 200;
  font-size: 1.5em;
  padding-left: 0.6em;
}

.new-todo::-webkit-input-placeholder {
  color:#E6E6E6;
  font-style: italic;
  font-weight: 100;
}
.new-todo:-moz-input-placeholder {
  color:#E6E6E6;
  font-style: italic;
  font-weight: 100;
}
.new-todo::-moz-input-placeholder {
  color:#E6E6E6;
  font-style: italic;
  font-weight: 100;
}
.new-todo:-ms-input-placeholder {
  color:#E6E6E6;
  font-style: italic;
  font-weight: 100;
}

/* ------- custom checkboxes ------- */

.round-checkbox {
  border: 1px solid #F0F0F0;
  border-radius: 50%;
  height: 1.8em;
  width: 1.8em;
  background-color: inherit;
  margin: 0.9em 0.5em 0;
  position: absolute;
}

.selected-checkbox {
  width: 2em;
  height: 2em;
  margin: 0.9em 0.5em 0;
  background: url("images/checked-circle.png") no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
}

.is_completed-true {
  text-decoration: line-through;
  color: #D9D9D9;
  transition: color 0.4s;
  font-weight: 100;
}

.is_completed-false {
  transition: color 0.4s;
}

 /* ------- each todo  ------- */

.todo-list__task {
  display: block;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  position: relative;
  font-weight: 200;
  height: 3.75em;
}

.todo-list__task-title {
  font-size: 1.5em;
  line-height: 2.5em;
  padding: 0 2.3em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.todo-list__task-edit {
  width: 93%;
  float: left;
  border: 1px solid black;
  box-shadow: inset -2px -2px 1px rgba(0,0,0,0.05);
  font-size: 1.5em;
  font-weight: 200;
  margin-left: 7%;
  padding: 0.6em;
  position: relative;
  overflow: hidden;
}

.todo-list__task-delete {
  position: absolute;
  top: 1.3em;
  right: 0.5em;
  bottom: 0;
  display: inline-block;
  float:right;
  transition: 0.2 ease-in-out;
  width: 2em;
  height: 2em;
  background: url("images/original-delete.png") no-repeat;
}

.todo-list__task-delete:hover {
  background: url("images/hover-delete.png") no-repeat;
}

 /*------- footer / sort navigation  ------- */

.footer {
  padding: 0.75em;
  font-size: 0.85em;
  position: relative;
}

.todo-list__total {
  float: left;
  padding-top: 0.25em;
}

.todo-list__filters {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.button {
  display: inline-block;
  border: 1px solid transparent;
  padding: 0.25em 0.5em;
}

.button:hover {
  border-color: #EBD7D7;
  border-radius: 3px;
  z-index: 100;
}

.selected {
  border: 1px solid #F0D5D5;
  border-radius: 3px;
}

.todo-list__clear-completed {
  float: right;
  position: relative;
}

.todo-list__clear-completed:hover {
  text-decoration: underline;
}
